Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -zircon-*,
        -llvmlibc-*,
        -modernize-use-trailing-return-type,
        -readability-redundant-access-specifiers,
        -hicpp-special-member-functions,
        -readability-identifier-length,
        -misc-no-recursion,
        -hicpp-no-array-decay,
        -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
        -llvm-include-order,
        -cppcoreguidelines-pro-type-reinterpret-cast,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -bugprone-easily-swappable-parameters,
"
WarningsAsErrors: false
AnalyzeTemporaryDtors: false
FormatStyle:     file
CheckOptions:
  - key:             misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           '1'
