default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/xyz1001/pre-commit-hooks-cpp
    rev: v1.0.0
    hooks:
    -   id: check-commit-msg
        args: ['(?:^\[(?:(?:feature)|(?:chore)|(?:refactor)|(?:revert)|(?:test)|(?:doc)|(?:style))\]\[\d+\.\d+\.\d+\](?:\[[A-Z]+\-\d+\])? .+(?:\n^why: .*)?(?:\n^how: .*)?(?:\n^influence: .*)?$)|(?:^\[bugfix\]\[\d+\.\d+\.\d+\](?:\[[A-Z]+\-\d+\])? .+\n^why: .+\n^how: .+\n^influence: .+$)']

